---
template: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <link rel="stylesheet" href="{{'index.css'|asset}}">
</head>
<body>
    {% assign header = category|query: operator:"and", select: "header", select : page.lang] %}
    <header class="o-header">
        <div><img src="{{'logo.svg'|asset}}" alt="Logo"></div>
        <menu>
            {% for item in header %}
                <a class="c-menuLink" href="{{item.link}}">{{item.linkTitle | default: item.title }}</a>
            {% endfor %}
        </menu>
        <div>Logo</div>
    </header>
    <section class="o-content">
        <header class="o-contentHeader">
            <h1 class="c-titleHero">
            {{page.title}}
            </h1>
            <p class="c-textHero">{{page.description}}</p>
        </header>
        <article class="o-article">
        {{content}}
        </article>
    </section>
</body>
</html>
