---
template: default
---
<!DOCTYPE html>
<html lang="{{page.lang | default: site.config.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <link rel="stylesheet" href="{{'index.css'|asset}}">
</head>
<body>

    {% assign header = category.header | where: "lang", page.lang  | order: "order" %}

    <header class="o-header">
        <div class="o-header_logo"><a href="{{site.href}}"><img src="{{site.config.logo.link}}" alt="Logo"></a></div>
        <menu class="o-header_menu1">
            {% for item in header %}
                <a class="c-menuLink" href="{{item.link}}">{{item.linkTitle | default: item.title }}</a>
            {% endfor %}
        </menu>
        <div class="o-header_menu2">
            <select class="c-langs" onchange="location.href=event.target.value">
                {% for data in page.langs %}
                    {% assign lang = data[0] %}
                    {% assign item = data[1] %}
                    <option value="{{item.link}}" {% if item.lang == page.lang %} selected {% endif %}>
                        {{site.config.langs[ item.lang ] | default: item.lang }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </header>
    <section class="o-content">
        <header class="o-contentHeader">
            <h1 class="c-titleHero">
            {{page.title}}
            </h1>
            <p class="c-textHero">{{page.description}}</p>
        </header>
        <article class="o-article">
        {{content}}
        </article>
    </section>
</body>
</html>
