@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";

:root {
    font-size: 16px;
    --easyDoc-font: "Poppins", sans-serif;
    --easyDoc-fontColor: #232323;
    --easyDoc-fontWeight: 400;
    --easyDoc-fontWeight-title: 600;
    --easyDoc-fontColor-title: black;
    --easyDoc-fontColor-code: #ecfffa;
    --easyDoc-brcolor-aside: rgba(0, 0, 0, 0.08);
    --easyDoc-bgcolor-header: white;
    --easyDoc-bgcolor-content: #f7f8f9;
    --easyDoc-bgcolor-code: #151718;
    --easyDoc-maxWidth-content: 67.5rem;
    --easyDoc-indentation: 3.75rem;
}

html,
body {
    width: 100%;
    background: var(--easyDoc-bgcolor-content);
}

body {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--easyDoc-fontColor);
    font-family: var(--easyDoc-font);
    font-weight: var(--easyDoc-fontWeight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--easyDoc-fontWeight-title);
    color: var(--easyDoc-fontColor-title);
}
