---
title: Blog
query:
  blog:
    where:
      folder: blog
archive:
  where:
    folder: blog
  limit: 2
---

<h1>{{page.title}} - {{page.pagination.paged}}</h1>

<h1>{{deep}}</h1>
<img src="avatar.png" />
<!--every-->
{% for item in pages %}
<article>
  <h3>{{item.title}}</h3>
  <a href="{{item.link}}">Read article</a>
</article>
{% endfor %}
<!---->
<h1>
  {{page.pagination|json}}
</h1>
<!---->
{% if page.pagination.prev %}
<a href="{{page.pagination.prev}}">prev</a>
{% endif %}
<!--{{page.pagination|json}}-->
{% if page.pagination.next %}
<a href="{{page.pagination.next}}">next</a>
{% endif %}
